{% extends 'base.html' %}


{% block content %}

<section class="flist">
    <h3 class="center-align" id="recent">Web Series</h3>
    <hr>
    <div class="row" style="padding-left: 50px; padding-right: 50px;">
        {% for movie in movie_list %}

        {% if movie.cat == 'web_series' %}
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{movie.thumbnail.url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ movie.title }}<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="{% url 'detail' pk=movie.pk %}">Download</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ movie.title_main }}<i
                            class="material-icons right">close</i></span>
                    <p><b>IMDb Rating: </b>{{ movie.imdb_rating }}</p>
                    <p><b>Year: </b>{{ movie.year }}</p>
                    <p><b>Type: </b>{{ movie.movie_type }}</p>
                    <p><b>Cast: </b>{{ movie.cast }}</p>
                    <p><b>Director: </b>{{ movie.director }}</p>
                    <p><b>Language: </b>{{ movie.language }}</p>

                </div>
            </div>
        </div>
        {% endif %}


        {% endfor %}
    </div>
</section>

{% endblock content %}